{{define "assignments-content"}}
<div class="assignments-section" id="assignments-content">
  {{if .Course.Assignments}}
    <div class="table-container">
      <table class="assignments-table">
        <thead>
          <tr>
            <th>عنوان تمرین</th>
            <th>تاریخ انتشار</th>
            <th>آخرین مهلت</th>
            <th>عملیات</th>
          </tr>
        </thead>
        <tbody>
          {{range .Course.Assignments}}
          <tr>
            <td>
              <div class="assignment-title-container">
                {{.Title}}
                {{if .IsExtended}}<span class="extended-badge">تمدید شده</span>{{end}}
                {{if .IsProject}}<span class="project-badge">پروژه</span>{{end}}
              </div>
             </td>
            <td>
              {{if .ReleaseDate.IsZero}} - {{else}}{{ $jalaliReleaseDate := .ConvertToJalali .ReleaseDate}}{{ $jalaliReleaseDate.ToPersianString}}{{end}}
            </td>
            <td>
              {{if .DeadlineDate.IsZero}} - {{else}}{{ $jalaliReleaseDate := .ConvertToJalali .DeadlineDate}}{{ $jalaliReleaseDate.ToPersianString}}{{end}}
            </td>
            <td class="actions-cell">
              <div class="action-buttons">
                {{if .FileName}}
                <a href="/data/courses/{{$.Course.Id}}/assignments/{{.FileName}}" class="download-btn" target="_blank">
                  {{if .IsProject}}دانلود{{else}}دانلود تمرین{{end}}
                </a>
                {{else}}<p>-</p>{{end}}
                {{if .SolutionName}}
                <a href="/data/courses/{{$.Course.Id}}/solutions/{{.SolutionName}}" class="download-btn solution-btn" target="_blank">
                  دانلود سلوشن
                </a>
                {{end}}
              </div>
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
    <div class="mobile-assignments-list">
      {{range .Course.Assignments}}
      <div class="mobile-assignment-item">
        <div class="mobile-assignment-title">
          {{.Title}}
          {{if .IsExtended}}<span class="extended-badge">تمدید شده</span>{{end}}
          {{if .IsProject}}<span class="project-badge">پروژه</span>{{end}}
        </div>
        <div class="mobile-assignment-actions">
          <a href="/data/courses/{{$.Course.Id}}/assignments/{{.FileName}}" class="download-btn" target="_blank">
            {{if .IsProject}}دانلود{{else}}دانلود تمرین{{end}}
          </a>
          {{if .SolutionName}}
          <a href="/data/courses/{{$.Course.Id}}/solutions/{{.SolutionName}}" class="download-btn solution-btn" target="_blank">
            دانلود سلوشن
          </a>
          {{end}}
        </div>
      </div>
      {{end}}
    </div>
  {{else}}
  <div class="no-content-message">
    تمرینی موجود نیست
  </div>
  {{end}}
</div>
{{end}}