{{define "base_panel"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{template "title" .}}</title>
        <link rel="stylesheet" href="/static/css/header_panel.css">
        <link rel="stylesheet" href="/static/css/panell.css">
        <link rel="shortcut icon" href="/static/img/favicon.png">
    </head>
    <body>
        {{template "header-panel" .}}
        {{template "main-panel" .}}
    </body>
    </html>
{{end}}