{{define "header"}}
<header class="header">
    <a href="/" class="home-link">
        <div class="logo">
            <img src="/static/icons/logo.svg" alt="University Logo">
        </div>
        <div class="university-info">
            <h1>Computer Engineering</h1>
            <p>OpenCourseware</p>
        </div>
    </a>
    <div class="auth-buttons">
        {{if .IsAuthenticated}}
        <a href="/user/profile" class="signin-button">
            <svg class="user-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <path d="M12 12a5 5 0 1 0-5-5 5 5 0 0 0 5 5Z" />
                <path d="M4 20a8 8 0 0 1 16 0" />
            </svg>
            <span class="signin-button-text">پروفایل</span>
        </a>
        {{end}}
        <a href=
        {{if not .IsAuthenticated}}
        "/user/login"
        {{else if or (eq .User.UserType "admin") (eq .User.UserType "head_ta") (eq .User.UserType "ta")}}
        "/panel"
        {{else}}
        "/user/profile"
        {{end}}
        class="signin-button">
            <svg class="user-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />
                <circle cx="12" cy="7" r="4" />
            </svg>
            <span class="signin-button-text">
            {{if not .IsAuthenticated}}    
                ورود
            {{else if or (eq .User.UserType "admin") (eq .User.UserType "head_ta") (eq .User.UserType "ta")}}
                پنل کاربری
            {{else}}
                حساب کاربری
            {{end}}
            </span>
        </a>

        
    </div>
</header>
{{end}}