/* Medium Weight (Normal) */
@font-face {
  font-family: "Vazir";
  src: url("/static/fonts/Vazir/Vazir-Medium-FD-WOL.woff2") format("woff2"),
       url("/static/fonts/Vazir/Vazir-Medium-FD-WOL.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Thin Weight */
@font-face {
  font-family: "Vazir";
  src: url("/static/fonts/Vazir/Vazir-Thin-FD-WOL.woff2") format("woff2"),
       url("/static/fonts/Vazir/Vazir-Thin-FD-WOL.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Light Weight */
@font-face {
  font-family: "Vazir";
  src: url("/static/fonts/Vazir/Vazir-Light-FD-WOL.woff2") format("woff2"),
       url("/static/fonts/Vazir/Vazir-Light-FD-WOL.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Bold Weight */
@font-face {
  font-family: "Vazir";
  src: url("/static/fonts/Vazir/Vazir-Bold-FD-WOL.woff2") format("woff2"),
       url("/static/fonts/Vazir/Vazir-Bold-FD-WOL.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Aller Font Family */
@font-face {
  font-family: 'Aller';
  src: url('../fonts/Aller/Aller_Rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aller';
  src: url('../fonts/Aller/Aller_It.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Aller';
  src: url('../fonts/Aller/Aller_Bd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aller';
  src: url('../fonts/Aller/Aller_BdIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Aller';
  src: url('../fonts/Aller/Aller_Lt.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aller';
  src: url('../fonts/Aller/Aller_LtIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Aller';
  src: url('../fonts/Aller/AllerDisplay.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}